<html>
    <head>
        <title><i>Ci si farà?</i></title>
    </head>
    <body>
        <div>
            <h1><a href=""><i>Ci si farà?</i></a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Tudo vale a pena / se a alma nao é pequena.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Finge assim completamente / que chega a finger que é dor / a dor que deveras sente.</p>
        </div>
    </body>
</html>